<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <title>Let us Farm</title>
</head>

<body>
    <h1>Let us Farm!</h1>
    <iframe src="http://192.168.137.2:8081" frameborder="0" width="640" height="480"></iframe>

    <a href="/new_coord">
        <img src="../static/dog.jpg" id="map" alt="dog" width="400" height="400" ismap>
    </a>

    <h2>Car Movement Control:</h2>
    <button hx-get="/forward">
        Forward
    </button>
    <button hx-get="/back">
        Back
    </button>
    <button hx-get="/left_t">
        Left
    </button>
    <button hx-get="/right_t">
        Right
    </button>

    <h2>Arm Control:</h2>
    <button hx-get="/arm_up">
        Up
    </button>
    <button hx-get="/arm_down">
        Down
    </button>
    <button hx-get="/arm_left">
        Left
    </button>
    <button hx-get="/arm_right">
        Right
    </button>
    <button hx-get="/cut">
        CUT
    </button>


</body>

</html>